# Byte-compiled Python files
__pycache__/
*.py[cod]

# Log files
*.log
*.logs

# Virtual environment files
env/
venv/
.venv/
*.egg-info/

# Flask-specific files
instance/
*.sqlite
*.sqlite-journal
*.sqlite3
*.db

# IDE and editor files
.vscode/
*.iml
*.ipr
*.iws

# Miscellaneous
*.pid
*.seed
*.tmp