<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download > Upload File</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <main id="content">
        <h1>Download {{ filename }}</h1>
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        <form method="POST">
            <p>{{ info }}</p><br>
            <input type="password" name="password" placeholder="Enter password" required><br><br>
            <input type="submit" value="Download">
        </form>
    </main>
</body>
</html>