<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <main id="content">
        <h1>Upload a File</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <input type="text" name="custom_route" placeholder="Enter custom download route (optional)">
            <input type="text" name="info" placeholder="Enter a description (optional)">
            <input type="password" name="password" placeholder="Enter a password (optional)">
            <button type="submit">Upload</button>
        </form>
    </main>

    <footer>
        <div class="footer-buttons">
            <a href="{{ url_for('list_files') }}" class="button">View Uploaded Files</a>
            <a href="{{ url_for('logout') }}" class="button">Logout</a>
        </div>
    </footer>
</body>

</html>